/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.hbox
{
	-fx-border-color:blueviolet ;
	 
}

.vbox
{
   

   -fx-background-color:chocolate ;	
  }
#vb1
{
	-fx-border-color:red;
    -fx-border-width:2px;
   	 -fx-border-style:solid ;
   	 -fx-background-color:white;
   	 -fx-min-width:500;
   	 -fx-border-radius: 5 5 5 5;	
}
#vb2
{
	-fx-border-color:white;
     -fx-border-width:2px;
   	 -fx-border-style:solid ;
   	 /*-fx-background-color:white;*/
   	 -fx-min-width:250;	
   	 -fx-border-radius:10 10 10 10 ;
   	 
	
}
#tx1
{
	-fx-font-size:40px;
	-fx-text-fill:white;
	-fx-font-family: "Arial Black"; 
	-fx-font-style:italic ;
	
}
.button:hover
{
	-fx-background-color:aqua;
	-fx-text-fill:white;
	-fx-border-color:white;
}
	.button
	{
		-fx-min-width:200;
		-fx-min-height:50;
	    -fx-font-family: "Arial Black"; 
	    -fx-border-radius: 20 20 20 20;
         -fx-background-radius: 20 20 20 20;
	    -fx-font-style:italic ;
	}
.imageview	
{
	-fx-border-color:white;
	-fx-border-radius:10 10 10 10 ;
}

#salut
{
    -fx-alignment: center;
}
